<div class="container">
    <div class="form-wrapper mdc-elevation--z15">
        <div class="form-header-wrapper">
            <div class="icon-wrapper">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="Vector" d="M32 0C14.32 0 0 14.32 0 32C0 49.68 14.32 64 32 64C49.68 64 64 49.68 64 32C64 14.32 49.68 0 32 0ZM32 9.6C37.296 9.6 41.6 13.904 41.6 19.2C41.6 24.512 37.296 28.8 32 28.8C26.704 28.8 22.4 24.512 22.4 19.2C22.4 13.904 26.704 9.6 32 9.6ZM32 55.04C23.984 55.04 16.944 50.944 12.8 44.736C12.88 38.384 25.616 34.88 32 34.88C38.384 34.88 51.104 38.384 51.2 44.736C47.056 50.944 40.016 55.04 32 55.04Z" fill="white"/>
                </svg>
            </div>
            <h4 class="mdc-typography--headline4 form-header">Login</h4>
        </div>
        <form action="" class="form">
            <div class="mdc-text-field mdc-text-field--dense my-custom-input-field">
                <input type="password" class="mdc-text-field__input"  id="my-text-field-mail" required>
                <label class="mdc-floating-label mdc-floating-label--float-above" for="my-text-field-mail">Enter e-mail</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="mdc-text-field mdc-text-field--dense my-custom-input-field">
                <input type="password" class="mdc-text-field__input"  id="my-text-field-password" required>
                <label class="mdc-floating-label mdc-floating-label--float-above" for="my-text-field-password">Enter password</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="mdc-form-field my-custom-checkbox">
                <div class="mdc-checkbox">
                    <input type="checkbox"
                           class="mdc-checkbox__native-control"
                           id="checkbox-1"/>
                    <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark"
                             viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path"
                                  fill="none"
                                  stroke="white"
                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                </div>
                <label for="checkbox-1">Remember me</label>
            </div>
            <input class="mdc-button mdc-button--raised my-custom-submit" type="submit" value="Enter">
        </form>
        <div class="form-helpers">
            <div class="form-helper__signin mdc-typography--subtitle1"><a href="#">Sign in</a></div>
            <div class="form-helpers__remind mdc-typography--subtitle1"><a href="#">Forgot password?</a></div>
        </div>
    </div>
</div>